@page
@model IndexModel
@{
    ViewData["Title"] = "Telegram";
}

<div class="text-center">
    <h1 class="display-4">Send this text to me</h1>
</div>

<form method="post">
    <input type="text" name="message" />
    <button type="submit">Send</button>
</form>
